SECRET_KEY="secret-key"

DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

#DATABASE
DB_NAME=DB_aviaproject
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db_host
DB_PORT=5432

#MEDIA
MEDIA_URL=/media/